<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Título' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Subtítulo' %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label 'Conteúdo' %>
    <%= f.text_area :content %>
  </div>
  <div class="actions form-actions">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', news_index_path, class: 'btn' %>
  </div>
<% end %>
